html {
	font-size: 22px;
}

body {
	font-family: system-ui;
}

.card {
	color: rgb(0, 0, 0);
	padding: 1rem;
	margin-top: 1em;
}

.cards {
	min-width: 400px;
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
}


/* Is the screen larger than 600px? 2 column */

@media (min-width: 600px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
		margin: 1rem 10rem 1rem 10rem;
	}
}

.row {
	display: flex;
}

.col {
	flex: 1;
	margin: .1em 1em .5em;
}


/* STYLING THE FORM */

form {
	background-color: #f6eede;
	padding: 1em 0 1em 0;
	border-radius: 0.3rem;
}

input {
	box-sizing: border-box;
	width: 100%;
	border: .063em solid lightgray;
	height: 2em;
}

input[type="checkbox"] {
	width: 1.2em;
	font-size: 1em;
	vertical-align: middle;
}

label {
	cursor: pointer;
	font-size: medium;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="submit"] {
	background-color: #5b8dbf;
	color: #fff;
	width: 100%;
	border: .063em solid #5b8dbf;
	height: 3em;
	font-weight: bold;
	margin-top: 2em;
	;
}

input[type="submit"]:hover {
	background-color: #fff;
	color: #5b8dbf;
}

.hide {
	display: none;
}


/* LANDING PAGE 3 */

* {
	margin: 0;
	padding: 0;
}

#banner {
	background-image: url('https://images.pexels.com/photos/6214383/pexels-photo-6214383.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 1.25rem;
	font-family: 'Playfair Display';
	color: #fffdf0;
	line-height: 1.6;
}

#banner h1 {
	font-size: 3.125rem;
	line-height: 1.2;
}

#banner p {
	font-size: 1.25rem;
}


/*Order Card Item Card*/

.summary_card {
	padding-top: 40px;
}

.card_item {
	display: flex;
	position: relative;
	padding-bottom: 10px;
}

.close-btn {
	position: absolute;
	right: 0.625rem;
	top: 0.313rem;
}

.card_item .product_img img {
	height: 5rem;
	margin-right: 1.25rem;
	width: 4.375rem;
	border-radius: vrem;
}

.product_info h1 {
	font-size: 1.25rem;
	color: #1e212d;
	margin: 0.313rem 0;
}

.product_info p {
	color: #a1a1a1;
	font-size: 0.8754rem;
}

.product_rate_info {
	display: flex;
	margin: 0.3rem 0;
	align-items: center;
	justify-content: space-between;
}


/*cart item + & -*/


.pqt-plus,
.pqt-minus {
	background: #f3f3f3;
	border: none;
	font-size: 1rem;
	padding: 0 0.9rem;
}

.pqt-plus:hover,
.pqt-minus:hover {
	background: #5B8DBF;
	color: #fff;
	cursor: pointer;
}

.pqt-plus,
.pqt-minus {
	line-height: 1.875rem;
}


/* .pqt-minus {
  line-height: 1.875rem;
} */


/*
Order price & total
*/

.order_price,
.order_service,
.order_total {
	display: flex;
	justify-content: space-between;
	padding: 0.313rem;
}

.order_price p,
.order_service p {
	color: #a1a1a1;
}

.order_total p {
	font-weight: 600;
}
